.presentation_content_button {
  width: 250px;
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
}

//https://codepen.io/emanuelgsouza/pen/YVJOZo
.presentation_content_button {
  color: $grey-blue;
}
.presentation_content_button::after, .presentation_content_button::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
  
}
.presentation_content_button::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: $grey-blue;
  border-right-color: $grey-blue;
}
.presentation_content_button::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: $grey-blue;
  border-left-color: $grey-blue;
}
.presentation_content_button:hover:after, .presentation_content_button:hover:before {
  border-color: $grey-blue;
  width: 100%;
  height: 100%;
}
