//home page
.home_page {

      &_01{
        background-image: url(/images/icons/icons8-puzzle-100.png);
        background-repeat: no-repeat;
        height: 13vh;
        width: 7em;
        display: flex;
        align-self: center;
      }

      &_02{
        background-image: url(/images/icons/icons8-partager-100.png);
        background-repeat: no-repeat;
        height: 13vh;
        width: 7em;
        display: flex;
        align-self: center;

      }

      &_03{
        background-image: url(/images/icons/icons8-signet-100.png);
        background-repeat: no-repeat;
        height: 13vh;
        width: 7em;
        display: flex;
        align-self: center;

      }

      &_04{
        background-image: url(/images/icons/icons8-ok-100.png);
        background-repeat: no-repeat;
        height: 13vh;
        width: 7em;
        display: flex;
        align-self: center;

      }

      &_05{
        background-image: url(/images/icons/icons8-information-100.png);
        background-repeat: no-repeat;
        height: 13vh;
        width: 7em;
        display: flex;
        align-self: center;

      }

      &_06{
        background-image: url(/images/icons/icons8-image-100.png);
        background-repeat: no-repeat;
        height: 13vh;
        width: 7em;
        display: flex;
        align-self: center;

      }
  
}

// redaction page
.redaction_details_block_image{
  &_01{
        background-image: url(/images/icons/icons8-ouvrir-100.png);
        background-repeat: no-repeat;
        height: 13vh;
        width: 7em;
        display: flex;
        align-self: center;
      }

      &_02{
        background-image: url(/images/icons/icons8-mallette-100.png);
        background-repeat: no-repeat;
        height: 13vh;
        width: 7em;
        display: flex;
        align-self: center;

      }

      &_03{
        background-image: url(/images/icons/icons8-clé-100.png);
        background-repeat: no-repeat;
        height: 13vh;
        width: 7em;
        display: flex;
        align-self: center;

      }

}


// consulting page
.consulting_details_block_image_01 {
  background-image: url(/images/icons/icons8-services-100.png);
  background-repeat: no-repeat;
  height: 13vh;
  width: 7em;
  display: flex;
  align-self: center;
}

.consulting_details_block_image_02 {
  background-image: url(/images/icons/icons8-dossier-ouvert-100.png);
  background-repeat: no-repeat;
  height: 13vh;
  width: 7em;
  display: flex;
  align-self: center;
}

//contact page
.contact-info__part__image_01 {
  // background-image: url(/images/icons/icons8-gmail-100.png);
  background-repeat: no-repeat;
  height: 13vh;
  width: 7em;

}

.contact-info__part__image_02{
  // background-image: url(/images/icons/icons8-whatsapp-100.png);
  background-repeat: no-repeat;
  height: 13vh;
  width: 7em;

}

// icons in the social nav in footer and the scroll-top
.fa{
    font-size: 1.5em !important; /*size whatever you like*/
}

.social-nav .fa {
  font-size: 1.5em !important;
}