.presentation {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;

  @media (min-width: $breakpoint-medium) {
    margin-bottom: 3em;
    }

    
    
}

.presentation_section {
  display: flex;
  flex-direction: column;
  margin: 2em;

  @media (min-width: $breakpoint-medium) {
    flex-direction: row;   
    align-items: center; 
    height: 60vh;

// reverse the order of 2nd element 
    &:nth-child(2)  {
         display: flex;
         flex-direction: row-reverse;
          }

    
    
    }
}

.presentation_image,
.presentation_content {
  width: 100%;
}
.presentation_image{
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 50vh;
  margin-top: 2em;

  @media (min-width: $breakpoint-medium) {
    margin: 1em;
  
  
    }
}



.presentation_content {
  display: flex;
  flex-direction: column;
  text-align: justify;
  

  @media (min-width: $breakpoint-medium) {
    margin: 0 3em;   
    line-height: 1.6;
    }
}

.presentation_content_title, 
.presentation_content_text {
  margin-top: 0.5em;

}

.presentation_content_text {
  margin-bottom: 1.5em;
}



