#back2Top {
    width: 60px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: relative;
    background-color: $color-bg-light;
    color: #555;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    padding: 0.2em;
    border-radius: 10%;

    @media (min-width: $breakpoint-medium) {
      font-size: 50px;
    }
    
}
#back2Top:hover {
    background-color: $color-bg-dark-grey;
    color: $color-text;
}

.scroll-back {
  margin-left: 1em;
  margin-bottom: 1.5em;
}
