.article {
  width: 100%;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.article_image{
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 50vh;
  margin-top: 2em;
  margin-bottom: 1em;
  border-radius: 0.5em;

  @media (min-width: $breakpoint-medium) {
    // margin: 1em;
    }
}

.underlined {
  color: black;
  flex: 1;
  font-size: 2em;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, $header-box-shadow 0, $header-box-shadow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background .5s;
  &:hover, {
    background-size: 100% 50%;
  }
  
  &--reverse {
    background-position: 100% -0.1em;
    transition: background 1s; //yep, that's a long link
    background-image: linear-gradient(to right, $color-title 0, rgba(255, 255, 0, 0) 100%);
  }
  
}