.wrapper{
  display: flex;
  flex-direction: column;
  padding: 1em;
  // align-items: center;

  @media (min-width: $breakpoint-medium) {
      flex-direction: row;
    }
}

.wrapper-left {
  width: 100%;
  @media (min-width: $breakpoint-medium) {
      width: 75%;
    }

}

.wrapper-right {
  // width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $breakpoint-medium) {
      width: 25%;
      padding-top: 5em;
    }
}

