.wrapper{
  display: flex;
  flex-direction: column;
  padding: 1em;

  @media (min-width: $breakpoint-medium) {
      flex-direction: row;
      padding-top: 2em;
    }
}

.wrapper-left {
  width: 100%;
  @media (min-width: $breakpoint-medium) {
      width: 75%;
    }

}

.wrapper-right {
  // width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $breakpoint-medium) {
      width: 25%;
      padding-top: 3em;
      position: fixed;
      right: 0;
      align-items: flex-start;
    }
}



