.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   padding: 1em;
   background-color: $color-bg-light;
}

.footer-menu, 
.footer-informations, 
.social-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  

  @media (min-width: $breakpoint-medium) {

    }
}