.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   display: flex;
  //  justify-content: space-around;
   flex-direction: column;
   padding: 1em;
   background-color: $color-bg-light;
   margin-left: auto;
   margin-right: auto;
}

.footer-menu, 
.footer-informations, 
.social-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  

  @media (min-width: $breakpoint-medium) {

    }
}
