.footer, 
.footer-informations {
   width: 100%;
   display: flex;
   flex-direction: column; 
   background-color: $footer-bg;

  @media (min-width: $breakpoint-medium) {
    flex-direction: row;  
} 
}

.footer{
  @media (min-width: $breakpoint-medium) {
    display: flex;
    width: 100%;
    align-content: space-around;
    position: relative;
    bottom: 0;
    left: 0;

}
}

.footer-menu-nav li, 
.social-nav li {
  display: inline-flex;
  flex-direction: row;
  margin-left: 0.5em;
}

nav .footer-menu-nav {
  display: flex;
  align-items: center;
}

.footer-menu, 
.social-nav {
  @media (min-width: $breakpoint-medium) {
    width: 40%;
  }
}

.footer-informations {
  display: flex;
  text-align: center;
}

.footer-menu-nav {
  
  @media (min-width: $breakpoint-medium) {
    width: 500px;
  }
}

.footer-informations,
.footer-menu-nav,
.social-nav {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;

  @media (min-width: $breakpoint-medium) {
      display: inline-block;     
  }
}

.footer-menu-nav  ul {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @media (min-width: $breakpoint-medium) {
    text-decoration: none;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
  }
}

.footer-menu-nav a:hover,
.link-linkedin:hover ,
.social-nav a:hover{
    @media (min-width: $breakpoint-medium) {
      text-decoration: none;
      color: $toggle-color;
  }
}

.footer-menu-nav a {
    @media (min-width: $breakpoint-medium) {
     margin: 0.5em
  }
}

.social-nav{
  @media (min-width: $breakpoint-medium) {
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
  }
}

.footer-menu-nav{
  @media (min-width: $breakpoint-medium) {
    display: flex;
    justify-content: flex-start;
    margin-left: 2em;
  }
}

