.header {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
  background-color: $color-bg-light;
  display: flex;
  justify-content: space-between; 
  
  @media (min-width: $breakpoint-medium) {
    height: 8vh;      
    }

}


.logo {
  margin-bottom: 1em;
  margin-left: 2em; 
  @media (min-width: $breakpoint-medium) {
    margin-left: 2em;    
    }
  
  
}


