.main {
  margin-top: 4em; 
  width: 100%;
  

  @media (min-width: $breakpoint-medium) {
  // margin-top: 110px; /* Add a top margin to avoid content overlay */      
    position: relative;
    }
  
}