.tarif {
  display: flex;
  flex-direction: column;
  padding: 2em;

  @media (min-width: $breakpoint-medium) {
    mini-height: 80vh;
  }
}

.tarif_redaction,
.tarif_consulting {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-medium) {
    flex-direction: row;
  }
}

.tarif_redaction_content,
.tarif_consulting_content {
  @media (min-width: $breakpoint-medium) {
    display: flex;
    
    flex-direction: row;
    width: 100%;
  }
}

.tarif_redaction_title,
.tarif_consulting_title {
  padding: 0.5em;
  display: flex;
  align-self: center;

  @media (min-width: $breakpoint-medium){
    width: 25%;
    display: flex;
    align-self: center;
    justify-content: center;


  }
}

//https://codepen.io/saiyedfaizan19/pen/EERjyq 
.tarif_redaction_content_card,
.tarif_consulting_content_card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
    margin-top: 1em;
    text-align: justify;

  @media (min-width: $breakpoint-medium) {
    margin: 2em;
  }
  
}

.tarif_redaction_content_card:hover,
.tarif_consulting_content_card:hover {
     transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}




// https://icones8.fr/icons/bubbles
.card-1{
    background-image: url(/images/icons/icons8-calendrier-100.png);
    background-repeat: no-repeat;
    background-position: 105% 5%;
    background-size: 100px;
}

.card-2{
   background-image: url(/images/icons/icons8-case-cochée-100.png);
    background-repeat: no-repeat;
    background-position: 105% 5%;
    background-size: 100px;
}

.card-3{
   background-image: url(/images/icons/icons8-mallette-100.png);
    background-repeat: no-repeat;
    background-position: 105% 5%;
    background-size: 100px;
}

.card-4{
    background-image: url(/images/icons/icons8-nouvelles-100.png);
    background-repeat: no-repeat;
    background-position: 105% 5%;
    background-size: 100px;
}

.card-5{
    background-image: url(/images/icons/icons8-services-100.png);
    background-repeat: no-repeat;
    background-position: 105% 5%;
    background-size: 100px;
}

.card-6{
    background-image: url(/images/icons/icons8-signet-100.png);
    background-repeat: no-repeat;
    background-position: 105% 5%;
    background-size: 100px;
}

