// Chargement des fichiers font de FA
$fa-font-path: '~font-awesome/fonts';

// Breakpoints
$breakpoint-medium: 800px;
$breakpoint-large: 800px;
$breakpoint-extra-large: 1200px;

// Fonts (family, size)
$font-size-small: 14px;
$font-size: 16px;
$font-size-medium: 18px;
$font-size-large: 30px;

//Font for 404 page
$font-404: 202px;
$font-404-mobile: 40px;
$font-404-text: 4em;
$font-404-text-mobile: 1.5em;
$font-404-text-subtitle: 20px;
$font-404-text-subtitle-mobile: 1em;
$font-404-button: 25px;
$font-404-button-mobile: 20px;

$font-family-content: 'Roboto', sans-serif;
$font-family-title: 'Roboto slab', serif;
$font-family-fallback: 'Helvetica', Arial, sans-serif;

$letter-spacing-title: 3px;
$letter-spacing-burger-menu: 5px;
$letter-spacing-404: 15px;

$line-height: 2;

// Couleurs
$white: #FFF;
$white-transparent: rgba(255, 255, 255, 0.466);
$black: #000;
$brown: #b46f24;
$orange: #F9A146;
$orange-transparent:  rgba(249, 162, 70, 0.61);
$grey: rgb(243, 243, 243);
$dark-grey: rgb(216, 214, 214);
$grey-clear: rgb(236, 232, 232);
$middle-grey: rgb(177, 176, 176);
$strong-grey: rgb(122, 121, 121);
$grey-blue: #435a6b;


$name-grey-base: #aaa;
$name-grey-strong: rgb(119, 117, 117);


// text
$color-text: $black;
$color-title: $orange;
$text-text-white: $white;
$color-presentation-name: $dark-grey;
$color-presentation-name-hover-light: #f9a246a2;
$color-presentation-name-hover-dark: #F9A146;

// effect
$black-shadow: $dark-grey;
$toggle-color: $orange;
$header-box-shadow: $orange-transparent;
$footer-bg: $grey;

// button
$color-button: $orange;
$color-button-hover: $black;
$icons: $black;
$color-newsletter-focus: $brown;
$button-effect: $grey-blue;

// dots for blog
$dot-selected: $strong-grey;
$dot-unselected: $dark-grey;

//Backgrounds
$color-bg: $white;
$color-bg-prices: $orange;
$color-bg-transparent: $white-transparent;
$color-bg-light: $white;
$color-bg-dark: $black;
$color-bg-scroll-top: $grey-clear;
$color-bg-dark-grey: $dark-grey;


$color-brand: $brown;

